<body>
  <%- include('./partials/login_nav.ejs'); %>

  <h3> <%= ev_rated %>(<%= user_nickname %>) 님에 에 대한 평점을 작성해주세요! </h3>
     
  <form action="/evaluation/submit" method="post">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Question</th>
          <th scope="col">매우 아니다</th>
          <th scope="col">아니다</th>
          <th scope="col">보통이다</th>
          <th scope="col">그렇다</th>
          <th scope="col">매우 그렇다</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <th scope="row">프로젝트 진행 시, 빠짐없이 참여했나요?</th>
          <td><input type="radio" id="1" name="ev_value1" value="1"></td>
          <td><input type="radio" id="2" name="ev_value1" value="2"></td>
          <td><input type="radio" id="3" name="ev_value1" value="3"></td>
          <td><input type="radio" id="4" name="ev_value1" value="4"></td>
          <td><input type="radio" id="5" name="ev_value1" value="5"></td>
        </tr>

        <tr>
          <th scope="row">진지하고 성실하게 진행했나요?</th>
          <td><input type="radio" id="1" name="ev_value2" value="1"></td>
          <td><input type="radio" id="2" name="ev_value2" value="2"></td>
          <td><input type="radio" id="3" name="ev_value2" value="3"></td>
          <td><input type="radio" id="4" name="ev_value2" value="4"></td>
          <td><input type="radio" id="5" name="ev_value2" value="5"></td>
        </tr>

        <tr>
          <th scope="row">열정적으로 참여하였나요?</th>
          <td><input type="radio" id="1" name="ev_value3" value="1"></td>
          <td><input type="radio" id="2" name="ev_value3" value="2"></td>
          <td><input type="radio" id="3" name="ev_value3" value="3"></td>
          <td><input type="radio" id="4" name="ev_value3" value="4"></td>
          <td><input type="radio" id="5" name="ev_value3" value="5"></td>
        </tr>
        
        <tr>
          <th scope="row">개발 실력 면에서 많은 도움이 되었나요?</th>
          <td><input type="radio" id="1" name="ev_value4" value="1"></td>
          <td><input type="radio" id="2" name="ev_value4" value="2"></td>
          <td><input type="radio" id="3" name="ev_value4" value="3"></td>
          <td><input type="radio" id="4" name="ev_value4" value="4"></td>
          <td><input type="radio" id="5" name="ev_value4" value="5"></td>
        </tr>
        
        <tr>
          <th scope="row">갈등 상황이 있을 때 상대를 배려하였나요?</th>
          <td><input type="radio" id="1" name="ev_value5" value="1"></td>
          <td><input type="radio" id="2" name="ev_value5" value="2"></td>
          <td><input type="radio" id="3" name="ev_value5" value="3"></td>
          <td><input type="radio" id="4" name="ev_value5" value="4"></td>
          <td><input type="radio" id="5" name="ev_value5" value="5"></td>
        </tr>

      </tbody>
    </table>

    <input type="hidden" name="pj_id" value="<%= pj_id %>">
    <input type="hidden" name="ev_rated" value="<%=ev_rated%>">
    <input type="submit" name="evaluate_submit" value="평가완료하기"
    onClick="return confirm('Do you want to submit this evaluation?')">

  </form>

</body>