<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> -->
</head>
<style>
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 1rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

</style>

<body>
  <% if (user_id != "비회원" ) { %>
  <%- include('./partials/login_nav.ejs'); %>
  <% } 
    
       else  { %>
  <%- include('./partials/default_nav.ejs'); %>
  <% }
    %>


  <div class="container">
    
      <h4>LEVEL 1</h4>
      <div class="row level 1">
        <% project_list.forEach(function(lists) { %>
        <% if (lists.proj_level == 1) {%>
          <div class="col-md-4">
          <div class="card border-secondary mb-3" style="max-width: 25rem; max-height: 20rem;">
            <div class="card-header">★☆☆☆☆</div>
            <div class="card-body">
              <h4 class="card-title">PROJECT : <%= lists.proj_title %></h4>
              <p class="card-text">
                <% if (lists.proj_content.length > 35) { %>
                  <%- lists.proj_content.substring(0,35) + "..." %></p>
                <% } else { %>
                  <%- lists.proj_content.substring(0,35) %></p>
                <% } %>
              ▶ <a href='/project_detail/<%= lists.proj_id %>'>바로가기</a>
            </div>
          </div>
          </div>      
        </br>
        <%}%>
        <% }) %>
      </div>
     
    
      <hr>
    
      <h4>LEVEL 2</h4>
      <div class="row level 2">
          <% project_list.forEach(function(lists) { %>
          <% if (lists.proj_level == 2) {%>
            <div class="col-md-4">
            <div class="card border-secondary mb-3" style="max-width: 25rem;">
              <div class="card-header">★★☆☆☆</div>
              <div class="card-body">
                <h4 class="card-title">PROJECT : <%= lists.proj_title %></h4>
                <p class="card-text">
                  <% if (lists.proj_content.length > 35) { %>
                    <%- lists.proj_content.substring(0,35) + "..." %></p>
                  <% } else { %>
                    <%- lists.proj_content.substring(0,35) %></p>
                  <% } %>
                ▶ <a href='/project_detail/<%= lists.proj_id %>'>바로가기</a>
              </div>
            </div>
            </div>    
          </br>
          <%}%>
          <% }) %>
        </div>
    
      <hr>
    
      <h4>LEVEL 3</h4>
      <div class="row level 3">
          <% project_list.forEach(function(lists) { %>
          <% if (lists.proj_level == 3) {%>        
            <div class="col-md-4">
            <div class="card border-secondary mb-3" style="max-width: 25rem;">
              <div class="card-header">★★★☆☆</div>
              <div class="card-body">
                <h4 class="card-title">PROJECT : <%= lists.proj_title %></h4>
                <p class="card-text">
                  <% if (lists.proj_content.length > 35) { %>
                    <%- lists.proj_content.substring(0,35) + "..." %></p>
                  <% } else { %>
                    <%- lists.proj_content.substring(0,35) %></p>
                  <% } %>
                ▶ <a href='/project_detail/<%= lists.proj_id %>'>바로가기</a>
              </div>
            </div>
            </div>   
          </br>
          <%}%>
          <% }) %>
        </div>
    
      <hr>
    
      <h4>LEVEL 4</h4>
      <div class="row level 4">
      <% project_list.forEach(function(lists) { %>
      <% if (lists.proj_level == 4) {%>   
        <div class="col-md-4">
        <div class="card border-secondary mb-3" style="max-width: 25rem;">
          <div class="card-header">★★★★☆</div>
          <div class="card-body">
            <h4 class="card-title">PROJECT : <%= lists.proj_title %></h4>
            <p class="card-text">
              <% if (lists.proj_content.length > 35) { %>
                <%- lists.proj_content.substring(0,35) + "..." %></p>
              <% } else { %>
                <%- lists.proj_content.substring(0,35) %></p>
              <% } %>
            ▶ <a href='/project_detail/<%= lists.proj_id %>'>바로가기</a>
          </div>
        </div>
        </div>
      </br>
      <%}%>
      <% }) %>
    </div>
    
      <hr>
    
      <h4>LEVEL 5</h4>
      <div class="row level 5">
      <% project_list.forEach(function(lists) { %>
      <% if (lists.proj_level == 5) {%>   
        <div class="col-md-4">
        <div class="card border-secondary mb-3" style="max-width: 25rem;">
          <div class="card-header">★★★★★</div>
          <div class="card-body">
            <h4 class="card-title">PROJECT : <%= lists.proj_title %></h4>
            <p class="card-text">
              <% if (lists.proj_content.length > 35) { %>
                <%- lists.proj_content.substring(0,35) + "..." %></p>
              <% } else { %>
                <%- lists.proj_content.substring(0,35) %></p>
              <% } %>
            ▶ <a href='/project_detail/<%= lists.proj_id %>'>바로가기</a>
          </div>
        </div>
        </div> 
      </br>
      <%}%>
      <% }) %>
      </div>
    
  </div>
</body>
</html>