<body>
    <%- include('./partials/login_nav.ejs'); %>

    <h3><%= user_id %> 님의 보낸 쪽지함</h3>
    <a href="/message">받은쪽지함</a> 
    <a href="/message_sendbox">보낸쪽지함</a> 
    <a href="/message_send"><button class="gotomessage_send">쪽지보내기</button></a>

    <table>
        <tr>
            <td>번호</td>
            <td>받은 사람</td>
            <td>쪽지유형</td>
            <!-- <td>쪽지내용</td> -->
            <td>날짜</td>
        </tr>
        <%
        let i;
        for(i=0; i<rows.length; i++)
        {
            let data = rows[i];
        %>
        <tr>
            <td><%=i+1%></td>
            <td><%=data.m_receiver%></td>
            <% 
            if (data.m_type === "want_participate" ) { %>
                <td>팀원으로 참가하고 싶어요~!</td>
               <% } 
            else if (data.m_type ==="question") { %>
                <td>질문이요~!</td>
                <% }
            else { %>
                    <td>기타</td>
                <% }
            %>
            <!-- <td><%=data.m_content%></td> -->
            <td><%=data.m_date%></td>
        </tr>
        <%}%>
    </table>
</body>