<a href="/"><h1>HAP-PEER!</h1></a>

<a href="/message">받은쪽지함</a> 
<a href="/message_sendbox">보낸쪽지함</a> 
<a href="/message_send"><button class="gotomessage_send">쪽지보내기</button></a>

<p><b><%= user_id %> 님의 받은 쪽지함</b></p>

<table>
    <tr>
        <td>번호</td>
        <td>보낸사람</td>
        <td>쪽지내용</td>
        <td>날짜</td>
    </tr>
    <%
    let i;
    for(i=0; i<rows.length; i++)
    {
        let data = rows[i];
    %>
    <tr>
        <td><%=i+1%></td>
        <td><%=data.m_sender%></td>
        <td><%=data.m_content%></td>
        <td><%=data.m_date%></td>
    </tr>
    <%}%>
</table>