<style>
  .profile-user-img {
    width: 120px;
    height: 120px;
    border-radius: 70%;
    overflow: hidden;
  }

  .profile-user-img-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

<body>
  <%- include('./partials/login_nav.ejs'); %>

      <h3 style="text-align: center;"> <%= user_id %> (<%= user_nickname %>)님의 마이페이지</h3>
      <br>
      <h4 style="margin-left: 30px; "><b>사용자 정보</b></h4>

      <div class="mypage1">
        <div class="userinfo">
      <table>
        <div class="profile-user-img">
          <img src="<%= rows[0].user_image %>" alt="profile-user-img" class="profile-user-img-img" />
        </div>
      </table>
      <br>

        <p><b>아이디: </b></p>
        <p> <%= user_id %> </p>

        <p><b>소개: </b></p>
        <p> <div style = "white-space:pre;" ><%=rows[0].user_info%></div> </p>

        <p><b>사용가능한 기술스택: </b></p>
        <p><%=rows[0].user_stack%>  <%=rows[0].user_stacketc%> </p>

        
      <a href="/mypage_edit_profile"><button id="editProfile">프로필 편집</button></a>
    </div>
  
  <div class="evaluation_box">
  <% let ev_average = (ev_value.v1 + ev_value.v2 + ev_value.v3 + ev_value.v4 + ev_value.v5)/5 %>
  <td> <b>평균 평점 : <%- ev_average %> </b></td>
  <% if (ev_average >= 0 && ev_average < 1) { %>
  <td> (0-1 점) </td>
  <img src="/public/emoticons/0-1.png" width="50" />
  <% } else if (ev_average >= 1 && ev_average < 2.5) { %>
  <td> (1-2.5 점) </td>
  <img src="/public/emoticons/1-2.5.png" width="50" />
  <% } else if (ev_average >= 2.5 && ev_average < 3.5) { %>
  <td> (2.5-3.5 점) </td>
  <img src="/public/emoticons/2.5-3.5.png" width="50" />
  <% } else if (ev_average >= 3.5 && ev_average < 4.5) { %>
  <td> (3.5-4.5 점) </td>
  <img src="/public/emoticons/3.5-4.5.png" width="50" />
  <% } else if (ev_average >= 4.5 && ev_average <= 5) { %>
  <td> (4.5-5 점) </td>
  <img src="/public/emoticons/4.5-5.png" width="50" />
  <% } else { %>
  <td> -- </td>
  <% } %>

  <%- include('./partials/ev_RadarGraph.ejs'); %>
  </div>

  </div>


  <hr>  
  <div class="mypage2">
  <br>
  <h4 style="margin-left:10px; "><b>나의 참여한 프로젝트</b></h4>
  <table>
    <th></th>

    <%
      for(i=0; i<rows.length; i++) {
      let data = rows[i];
      let statusEv= statusEvaluated[i];
    %>
    <tr>
      <td>
      <td>
        <% if (data.recruit_status==1 && data.develop_status==1) { %>
      <td><a href='/project_detail/<%= data.proj_id %>'><%=data.proj_title%></a></td>

      <% if (statusEv=="평가완료") { %>
      <td> 평가완료 </td>
      <% } else { %>
      <td><button><a href='/evaluation/<%= data.proj_id %>'>평가하기</a></button></td>
      <% }
       %>
      <% } else if (data.recruit_status==1 && data.develop_status==0) { %>
      <td><a href='/project_detail/<%= data.proj_id %>'><%=data.proj_title%> </a></td>
      <td> 개발진행중 </td>
      <% } else if (data.recruit_status==0 && data.develop_status==0) { %>
      <td><a href='/project_detail/<%= data.proj_id %>'><%=data.proj_title%> </a></td>
      <td> 모집중 </td>
      <% } else { %>
      <td> 참여중인 프로젝트가 없습니다. </td><br>
      <% } %>
      </td>
    </tr>
    <%}%>
        </table>
        <table>
            <hr>
            <h4 style="margin-left: 10px;"><b>스크랩 목록</b></h4>
            <th></th>
            <%
                for(i=0; i<rows2.length; i++) {
                let data2 = rows2[i];
            %>
    <tr>
      <td><a href='/project_detail/<%= data2.proj_id %>'><%=data2.proj_title%></a></td>
    </tr>
    <%}%>
  </table>

</div>
  <br>
</body>
