<body>
    
    <%- include('./partials/login_nav.ejs'); %>

    <h3> <%= user_id %> (<%= user_nickname %>)님의 마이페이지</h3>
    <form action="/mypage" method="get">
        <table>
            <tr>
            <%
            let i;
            for(i=0; i<rows.length; i++)
            {
                let data = rows[i];
            %>       
                <td>프로필 이미지</td>
                <td><img src="<%= data.user_image %>" width="200" /></td>
            </tr>
            <tr>
                <td>아이디  </td>
                <td> <%= user_id %> </td>
            </tr>
            <tr></tr>
                <td>소개</td>
                <td> <%=data.user_info%> </td>
            </tr>
            <tr>
                <td>STACK</td>
                <td> <%=data.user_stack%> </td>
            </tr>
            <%}%>
        </table>
    </form>
    
    <a href="/mypage_edit_profile"><button>프로필 편집</button></a> 
</body>


