<body>
    <% if (user_id != "비회원" ) { %>
        <%- include('./partials/login_nav.ejs'); %>
       <% } 
    
       else  { %>
        <%- include('./partials/default_nav.ejs'); %>
        <% }
    %>
        <br>
        <form action="/project_sort" method="post">
            제목 : 
            <input type="text" name="title"></br>
            작성자 :
            <input type="text" name="teamleader"></br>
            난이도 :
            <select name="level">
                <option value = "%">전체</option>
                <option value = "1">1</option>
                <option value = "2">2</option>
                <option value = "3">3</option>
                <option value = "4">4</option>
                <option value = "5">5</option>
            </select></br>
            기술스택 : 
            <select name="skillstack">
                <option value = "%">전체</option>
                <option value = " C ">C</option>
                <option value = " C++ ">C++</option>
                <option value = " C# ">C#</option>
                <option value = " JAVA ">Java</option>
                <option value = " Python ">Python</option>
                <option value = " Visual Basic ">Visual Basic</option>
                <option value = " JS ">JS</option>
                <option value = " SQL ">SQL</option>
                <option value = " PHP ">PHP</option>
                <option value = " 기타 ">기타</option>
            </select></br>
            <input type="submit" value ="검색"></br>
        </form>
            프로젝트 목록<br>
        <% if(locals.data){ %>
            <% if(data.length == 0) {%>
                NULL
                <% } %>
                <% for(let i=0;i<data.length;i++){ %>
                <a href='/project_detail/<%= data[i].proj_id %>'>
                NAME : <%= data[i].proj_title %>    |    DATE : <%= data[i].proj_date %><br>
                </a>
            <% } %>
        <% } %>
    </form>
</body>