<body>
    <% if (user_id != "비회원" ) { %>
        <%- include('./partials/login_nav.ejs'); %>
       <% } 
    
       else  { %>
        <%- include('./partials/default_nav.ejs'); %>
        <% }
    %>

<h3>프로젝트 상세보기</h3>

<tr>
    <td>
        project title : <%- project_detail.proj_title%></br>
        project leader : <%- project_detail.proj_leader%></br>
        project info : <%- project_detail.proj_content%></br>
        project level : <%- project_detail.proj_level%></br>
        project stack : <%- project_detail.proj_stack%></br>
        recruit_status : <%- project_detail.recruit_status%></br>
        develop_status : <%- project_detail.develop_status%></br>
    </td>
    <% if (user_id == project_detail.proj_leader) {%>
        <a href="/project_edit/<%= project_detail.proj_id%>">수정하기</a>
        <% } %>
    <h3> 참여 팀원 </h3>
    <td>
    <% part_proj.forEach(function(lists) { %>
        <a href='/user_page/<%= lists.part_user %>'>
        <tr>
            <td><%- lists.part_user%></td>
        </tr>
        </a>
    </br>
    <% }) %>
    </td>
</tr>
<% if (user_id != "비회원" && user_id != project_detail.proj_leader && project_detail.sc_user != user_id) {%>
    <button><a href="/scrap/<%= project_detail.proj_id%>">스크랩하기</a></button>
    <% } %>
<form action="/scrap/<%= project_detail.proj_id%>" method= "post">
<% if (user_id != "비회원" && user_id != project_detail.proj_leader && project_detail.sc_user == user_id) {%>
    <td><input type = "submit" value = "스크랩삭제"></td>
    <% } %>
</form>  

<form action="/project_detail" method="post">
<% if (user_id == project_detail.proj_leader) {%>
    <td><input type="text" name="member"></td>
    <td><input type="submit" value="팀원 추가하기"></td>
    <% } %>
    </form>

</body>
