<h1>welcome HAP-PEER!</h1>

<tr>
    <td>
        project title : <%- project_detail.proj_title%></br>
        project leader : <%- project_detail.proj_leader%></br>
        project info : <%- project_detail.proj_content%></br>
        project level : <%- project_detail.proj_level%></br>
        project stack : <%- project_detail.proj_stack%></br>
    </td>
</tr>
