<body>
  <% if (user_id != "비회원" ) { %>
  <%- include('./partials/login_nav.ejs'); %>
  <% } 
    
       else  { %>
  <%- include('./partials/default_nav.ejs'); %>
  <% }
    %>

  <h3>프로젝트 상세보기</h3>

  <tr>
    <td>
      프로젝트 제목 : <%- project_detail.proj_title%></br>
      프로젝트 팀장 : <%- project_detail.proj_leader%>
      <% if (user_id != "비회원" ) { %>
        <% if (user_id != project_detail.proj_leader) { %>
          <form action="/message_send/reply" method="post" style="display: inline;">
            <input type="hidden" name="m_sender" value="<%= project_detail.proj_leader%>">
            <input type="submit" name="reply" value="쪽지 바로 보내기">
          </form>
          <% }
             %>
        <% }
      %>

      <br>
      프로젝트 소개 : <%- project_detail.proj_content%></br>
      프로젝트 난이도 : <%- project_detail.proj_level%></br>
      필요기술스택 : <% if (project_detail.proj_stack!=''){%> <%-project_detail.proj_stack%> <%}%>
        <% if (project_detail.proj_stacketc!=''){%> <%-project_detail.proj_stacketc%> <%}%></br>
      <% if (project_detail.recruit_status == 0 ) { %>
      팀원모집이 마감되었나요? : NO<br>
      <% } 
           else  { %>
      팀원모집이 마감되었나요? : YES<br>
      <% }
        %>
      <% if (project_detail.develop_status == 0 ) { %>
      개발완료된 프로젝트인가요? : NO</br>
      <% } 
           else  { %>
      개발완료된 프로젝트인가요? : YES</br>
      <% }
        %>
    </td>
    <% if (user_id == project_detail.proj_leader) {%>
    <a href="/project_edit/<%= project_detail.proj_id%>">프로젝트 수정하기</a>
    <% } %>
    <h3> 참여 팀원 </h3>
    <td>
      <% part_proj.forEach(function(lists) { %>
        <a href='/user_page/<%= lists.part_user %>'><%- lists.part_user%></a>
        <% if (user_id == project_detail.proj_leader && lists.part_user != project_detail.proj_leader && project_detail.recruit_status == 0) {%>
        <form style="display: inline" action="/project_detail/delete" method="post">
          <input type="hidden" name="delete_user" value="<%= lists.part_user%>">
          <input type="hidden" name="proj_id" value="<%= project_detail.proj_id%>">
          <input type="submit" value="팀원삭제">
        </form>
      <% } %>
  </br>
  <% }) %>
  </td>
  </tr>
  <br>
  <% if (user_id != "비회원" && user_id != project_detail.proj_leader && project_detail.sc_user != user_id) {%>
  <button><a href="/scrap/<%= project_detail.proj_id%>">스크랩하기</a></button>
  <% } %>
  <form action="/scrap/<%= project_detail.proj_id%>" method="post">
    <% if (user_id != "비회원" && user_id != project_detail.proj_leader && project_detail.sc_user == user_id) {%>
    <td><input type="submit" value="스크랩삭제"></td>
    <% } %>
  </form>

  <% if (user_id == project_detail.proj_leader) {%>
  <% if (project_detail.recruit_status == 0) {%>
  <form action="/project_detail" method="post">
  <td><input type="text" name="member"></td>
  <td><input type="submit" value="팀원 추가하기"></td>
  </form>
  <% } %>
  <% } %>

</body>
