<body>
  <% if (user_id != "비회원" ) { %>
  <%- include('./partials/login_nav.ejs'); %>
  <% } 

   else  { %>
  <%- include('./partials/default_nav.ejs'); %>
  <% }
%>
  <h4>유저 목록</h4>
  <form action="/user_list" method="post">
    아이디 :
    <input type="text" name="id"> &nbsp;
    닉네임 :
    <input type="text" name="nickname"> &nbsp;
    기술스택 :
    <select id="skillstack" name="skillstack">
      <option value="total">전체</option>
      <option value=" C ">C</option>
      <option value=" C++ ">C++</option>
      <option value=" C# ">C#</option>
      <option value=" JAVA ">Java</option>
      <option value=" Python ">Python</option>
      <option value=" Visual Basic ">Visual Basic</option>
      <option value=" JS ">JS</option>
      <option value=" SQL ">SQL</option>
      <option value=" PHP ">PHP</option>
      <option value=" OBJECTIVE-C ">OBJECTIVE-C</option>
      <option value=" RUBY ">RUBY</option>
      <option value=" HTML ">HTML</option>
      <option value=" Assembly Language ">Assembly</option>
      <option value=" Groovy ">Groovy</option>
      <option value=" R ">R</option>
      <option value=" Swift ">Swift</option>
      <option value="other">직접입력</option>
    </select>
    <input type="text" id="etc" name="etc" />
    <script>
      $(function () {
        $("#etc").hide();
        $("#skillstack").change(function () {
          if ($("#skillstack").val() == "other") {
            $("#etc").show();
          } else {
            $("#etc").hide();
          }
        })
      });
    </script>
    <input type="submit" value="검색"></br>
  </form>
  <hr>
  <% user_list.forEach(function(lists) { %>
  <a href='/user_page/<%= lists.user_id %>'>
    <tr>
      <td><%- lists.user_nickname%>(<%- lists.user_id%>)</td>
    </tr>
  </a>
  </br>
  <% }) %>
</body>
